#team_coderwall {
	display: none;
}

#team_box {
	padding: 36px 10px 0;
	background: #fff;
	border: 1px solid #d2d2d2;
	border-bottom-color: #ccc;
	font-size: 11px;
	text-align: center;
	color: #7c7c7c;

	-webkit-border-radius: 4px;
		 -moz-border-radius: 4px;
					border-radius: 4px;

	-webkit-box-shadow: rgba(0,0,0,.04) 0 1px 4px;
		 -moz-box-shadow: rgba(0,0,0,.04) 0 1px 4px;
					box-shadow: rgba(0,0,0,.04) 0 1px 4px;
}

#team_box .box-badge {
	display: inline-block;
	min-width: 120px;
	margin: 0 28px 42px;
	position: relative;
}

#team_box .show-count:after {
	content: attr(data-count);
	position: absolute;
	top: 0;
	right: 0;
	margin: -8px 10px 0 0;
	background: #5a2;
	border: 1px solid #280;
	border-bottom-color: #160;
	width: 16px;
	height: 16px;
	line-height: 16px;
	color: #fff;
	font-size: 9px;
	font-weight: bold;

	-webkit-border-radius: 8px;
		 -moz-border-radius: 8px;
					border-radius: 8px;

	-webkit-box-shadow: rgba(0,0,0,.24) 0 1px 3px, inset rgba(160,255,160,.2) 0 1px;
		 -moz-box-shadow: rgba(0,0,0,.24) 0 1px 3px, inset rgba(160,255,160,.2) 0 1px;
					box-shadow: rgba(0,0,0,.24) 0 1px 3px, inset rgba(160,255,160,.2) 0 1px;
}

#team_coderwall .team-coders {
	text-align: center;
	font-size: 11px;
	color: #999;
}
#team_coderwall .team-coders a {
	color: #999;
	margin: 0 3px;
}